<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <table>
            <tr>
                <td>Ten dang nhap </td>
                <td>
                    <input type="text" name="username">
                </td>
            </tr>
            <tr>
                <td>Mat khau </td>
                <td>
                    <input type="text" name="password">
                </td>
            </tr>
            <tr>
                <td>Ghi nho </td>
                <td>
                   <input type="checkbox" name="remember-me">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Login</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>